<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Do not touch this element -->
    <section name="Configurator" type="RscConfig.Configurator, RscConfig" />
  </configSections>
  <Configurator>
    <!-- Here you can change anything -->
    <GeneralSettings
      DefaultTimeout="5000"
      TrueToken="true"
      FalseToken="false"/>
    <Services
      StatusChangeTimeout="5000"/>
  </Configurator>
</configuration>
