################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.licenseheader
/RemoteServerController/RscConfig/obj/Debug
/RemoteServerController/RscCore/obj/Debug
/RemoteServerController/RscHost/obj/x86/Debug
/RemoteServerController/RscInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RemoteServerController/RscLog/obj/Debug
