################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.licenseheader
/RemoteServerController/RscConfig/obj/Debug
/RemoteServerController/RscCore/obj/Debug
/RemoteServerController/RscHost/obj/x86/Debug
/RemoteServerController/RscInterface/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/RemoteServerController/RscLog/obj/Debug
/RemoteServerController/RscConfig/bin/Debug
/RemoteServerController/RscCore/bin/Debug
/RemoteServerController/RscHost/bin/Debug
/RemoteServerController/RscInterface/bin/Debug
/RemoteServerController/RscInterface/obj/Debug
/RemoteServerController/RscLog/bin/Debug
/RemoteServerController/RscHost/RscHost.csproj.user
/RemoteServerController/RscConfig/bin/Release
/RemoteServerController/RscConfig/obj/Release
/RemoteServerController/RscCore/bin/Release
/RemoteServerController/RscCore/obj/Release
/RemoteServerController/RscHost/bin/Release
/RemoteServerController/RscHost/obj/x86/Release
/RemoteServerController/RscInterface/bin/Release
/RemoteServerController/RscInterface/obj/Release
/RemoteServerController/RscLog/bin/Release
/RemoteServerController/RscLog/obj/Release
/RemoteServerController/Installer/Output
/RemoteServerController/.vs/RemoteServerController/v15/Server/sqlite3
/RemoteServerController/RscGUI
/RemoteServerController/UpgradeLog.htm
/RemoteServerController/UpgradeLog2.htm
