<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Do not touch this element -->
    <section name="Configurator" type="RscConfig.Configurator, RscConfig" />
  </configSections>
  <Configurator>
    <GeneralSettings
      QuitToken="quit"
      LogLevel="Debug"/>
    <Network
      Host="localhost"
      Port="55011"
      UseSSL="false"
      CrossDomainScriptAccessEnabled="true"/>
    <Services
      StatusChangeTimeout="5000">
      <AllowedServiceCollection>
        <!-- NOTE: AllowStatusCheck is always true if you allow Start or Stop. -->
        <add Name="hpsrv" AllowStart="true" AllowStop="true" AllowStatusCheck="true"/>
        <add Name="Fax" AllowStart="true" AllowStop="true" AllowStatusCheck="true"/>
        <add Name="SkypeUpdate" AllowStart="true" AllowStop="true" AllowStatusCheck="true"/>
      </AllowedServiceCollection>
    </Services>
  </Configurator>
</configuration>
