<?xml version="1.0"?>
<configuration>
  <configSections>
    <!-- Do not touch this element -->
    <section name="Configurator" type="RscConfig.Configurator, RscConfig" />
  </configSections>
  <Configurator>
    <GeneralSettings
      QuitToken="quit"
      LogLevel="Info"/>
    <Network
      Host="localhost"
      Port="55011"
      UseSSL="true"
      CertificateThumbprint="00 fc 00 f3 47 c8 cb 19 ab c3 54 81 50 08 89 b1 b9 fc 58 2a"
      CrossDomainScriptAccessEnabled="true"/>
    <Services
      StatusChangeTimeout="5000">
      <AllowedServiceCollection>
        <!-- NOTE: AllowStatusCheck is always true if you allow Start or Stop. -->
        <add Name="hpsrv" AllowStart="true" AllowStop="true" AllowStatusCheck="true"/>
        <add Name="Fax" AllowStart="true" AllowStop="true" AllowStatusCheck="true"/>
        <add Name="SkypeUpdate" AllowStart="true" AllowStop="true" AllowStatusCheck="true"/>
      </AllowedServiceCollection>
    </Services>
  </Configurator>
</configuration>
